################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mobileteam2/.vs/mobileteam2
